POSTGRES_DB=juaco_store
POSTGRES_USER=juaco
POSTGRES_PASSWORD=cambia_esta_clave
POSTGRES_PORT=5432
POSTGRES_HOST=db
DJANGO_SECRET_KEY=cambia-esta-clave-por-una-segura
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
